

<%= flash[:notice] %>

<%= link_to "Click here to view Imported Data", home_view_data_path %>

<div>
  <h4>Import CSV Data!</h4>
  <%= form_tag import_questions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

